body {
  font-family: "Pacifico", cursive;
  font-family: "PT Mono", monospace;
}
h1 {
  font-size: 40px;
  margin: 25px;
  font-weight: 100;
  line-height: 1;
}
h2 {
  font-size: 17px;
}
h3 {
  font-size: 18px;
}
h3:first letter {
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 10px;
  right: -100px;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  font-size: 15px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.units {
  position: relative;
  top: -28px;
}
strong {
  color: grey;
}
.temperature {
  font-size: 44px;
}
.weather-temperature img {
  width: 55px;
  margin-right: 10px;
}
.forecast img {
  margin-right: 120px;
  padding: 15px 5px;
  width: 34px;
}
.degrees {
  position: relative;
  top: -25px;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  cursor: pointer;
}

.weather-wrapper {
  max-width: 750px;
  margin: 30px auto;
}
.weather {
  max-width: 750px;
  padding: 10px;
  margin: 30px auto;
  border: 1px solid #f8fcfb;
  border-radius: 10px;
  background: #e4f1fe;
  background-repeat: no-repeat;
  background-size: cover;
}

.fa-cloud-sun {
  font-size: 25px;
}
.search-button {
  background: blue;
  border: 1px solid blue;
  color: white;
}
.emojis {
  padding-right: 150px;
}

.forecast {
  border: 1px solid #f8fcfb;
  background: #f8fcfb;
  border-radius: 7px;
  max-width: 310px;
  opacity: 0.5;
  display: block;
  margin: 0 auto;
}
